<!DOCTYPE html>
<html>

<head>
    <title>Dietitian Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">FODMAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/">Home Page</a>
                </li>
                <li class="nav-item">
                    {% for dietitian in dietitian_form %}
                    <a class="nav-link" href="/dietitian/home/">Welcome, {{ dietitian.first_name }}</a>
                    {% endfor %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/logout/">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <h1>Dietitian Home Page</h1>
    <a href="/dietitian/logout/" class="btn btn-sm btn-danger">Logout</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Telephone Prefix</th>
                <th>Telephone</th>
                <th>Country Code</th>
                <th>Gender</th>
                <th>Is Active</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for dietitian in dietitian_form %}
            <tr>
                <td>{{ dietitian.first_name }}</td>
                <td>{{ dietitian.middle_name }}</td>
                <td>{{ dietitian.last_name }}</td>
                <td>{{ dietitian.email }}</td>
                <td>{{ dietitian.telephone_prefix }}</td>
                <td>{{ dietitian.phone_number }}</td>
                <td>{{ dietitian.country_code_ios3 }}</td>
                <td>{{ dietitian.gender }}</td>
                <td>{{ dietitian.is_active }}</td>
                <td>{{ dietitian.creation_time }}</td>
                <td>
                    <a href="/dietitian/{{dietitian.id}}/edit/" class="btn btn-sm btn-warning">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a id="addPracticeLocation" href="/practice_location/add/" class="btn btn-primary">Add Practice Location</a>
    <script>
        document.getElementById('addPracticeLocation').addEventListener('click', function (event) {
            if ("{{ location_limit }}".toLowerCase() === "true") {
                event.preventDefault();
                alert("Location cannot be more than three");
                window.location.href = "/dietitian/home/";
            }
        });
    </script>
    <h2>Practice Locations</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Line1</th>
                <th>Line2</th>
                <th>Street</th>
                <th>Suburb</th>
                <th>City</th>
                <th>Country</th>
                <th>Postcode</th>
                <th>Website</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for practice_location_form in practice_location_forms %}
            <tr>
                <td>{{ practice_location_form.line1 }}</td>
                <td>{{ practice_location_form.line2 }}</td>
                <td>{{ practice_location_form.street }}</td>
                <td>{{ practice_location_form.suburb }}</td>
                <td>{{ practice_location_form.city }}</td>
                <td>{{ practice_location_form.country }}</td>
                <td>{{ practice_location_form.postcode }}</td>
                <td>{{ practice_location_form.website }}</td>
                <td>
                    <a href="/practice_location/{{practice_location_form.id}}/edit/"
                        class="btn btn-sm btn-warning">Edit</a>
                    <a href="/practice_location/delete/?id_={{practice_location_form.id}}"
                        class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
