<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">FODMAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/">Home Page</a>
                </li>
                {% if dietitian_name %}
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/home/">Welcome, {{ dietitian_name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/logout/">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/signup/">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dietitian/login/">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-4">
        <h1 class="mb-4">Home Page</h1>
        <div class="accordion" id="accordionExample">
            {% regroup practice_locations by country as country_groups %}
            {% for country_group in country_groups %}
                <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                {{ country_group.grouper }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Dietitian Name</th>
                                        <th>Dietitian Email</th>
                                        <th>Practice Location Address</th>
                                        <th>Website</th>
                                        <th>Telephone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for location in country_group.list %}
                                    <tr>
                                        <td>{{ location.dietitian.first_name }} {{ location.dietitian.middle_name }} {{ location.dietitian.last_name }}</td>
                                        <td>{{ location.dietitian.email }}</td>
                                        <td>
                                            {{ location.line1 }},
                                            {% if location.line2 %}{{ location.line2 }}, {% endif %}
                                            {{ location.street }},
                                            {{ location.city }},
                                            {% if location.suburb %}{{ location.suburb }}, {% endif %}
                                            {{ location.postcode }}
                                        </td>
                                        <td><a href="{{ location.website }}" target="_blank">{{ location.website }}</a></td>
                                        <td>{{ location.dietitian.telephone_prefix }}{{ location.dietitian.phone_number }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
