<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Practice Location</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4 text-center">Add Practice Location</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        {% for element in form %}
                        <div class="form-group col-md-6">
                            <label for="{{ element.id_for_label }}">{{ element.label }}</label>
                            {{ element }}
                            {% if element.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in element.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <a href="/dietitian/home/" class="btn btn-secondary ml-2">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
